<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
	<!-- 评价系统 -->
	<bean id="taobaoProductEvaluate" class="org.guili.ecshop.business.impl.evaluate.TaobaoProductEvaluateService">
	</bean>
	<bean id="tmallProductEvaluate" class="org.guili.ecshop.business.impl.evaluate.TmallProductEvaluateService">
	</bean>
	<!-- 收集信息 -->
	<bean id="tmallProductService" class="org.guili.ecshop.business.impl.evaluate.TmallProductService">
		<property name="tmallAnalyzeDao" ref="tmallAnalyzeDao"></property>
	</bean>
	<bean id="tmallProductEvaluateCraw" class="org.guili.ecshop.business.impl.evaluate.TmallProductCrawlServiceImpl">
		<property name="tmallProductService" ref="tmallProductService"></property>
	</bean>
	<bean id="prodcutEvaluateFactory" class="org.guili.ecshop.business.impl.evaluate.ProdcutEvaluateFactory">
		<property name="taobaoProductEvaluate" ref="taobaoProductEvaluate"></property>
		<property name="tmallProductEvaluate" ref="tmallProductEvaluate"></property>
		<property name="tmallProductEvaluateCraw" ref="tmallProductEvaluateCraw"></property>
	</bean>
	
	<!-- 优秀商家 -->
	<bean id="topStoreService" class="org.guili.ecshop.business.impl.spider.TopStoreService">
		<property name="iTopStoreDao" ref="topStoreDao"></property>
	</bean>
	<bean id="taobaoTopSpider" class="org.guili.ecshop.business.impl.spider.TaobaoTopSpider">
	</bean>
	
</beans>